.o-table {
  display: table;
  table-layout: fixed;
  width: 100%;

  &__row {
    display: table-row;
    &--header {
      background-color: $color--tableHeaders;
      color: $color--white;
      font-weight: bold;
    }
  }

  &__cell {
    display: table-cell;
    width: auto;
    padding: 0.5rem;
  }
}
