{
  "parser": "babel-eslint",

  "extends": [
    "standard",
    "prettier",
    "prettier/react",
    "plugin:flowtype/recommended"
  ],

  "plugins": ["react", "prettier", "flowtype"],

  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "experimentalDecorators": true,
      "jsx": true
    }
  },

  "env": {
    "es6": true,
    "node": true
  },

  "rules": {
    "prettier/prettier": "error",
    "react/jsx-uses-vars": 2
  },

  "globals": {
    "config": true,
    "state": true,
    "t": true
  }
}
