.o-sideBar {
  width: 100%;
  height: 100%;
  background-color: $color--grey;
  padding: 1rem 0;
  box-sizing: border-box;

  &__item {
    padding: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
    &:hover {
      color: $color--main;
    }
  }

  &__icon {
    display: inline;
    vertical-align: middle;
  }

  &__name {
    vertical-align: middle;
    text-decoration: underline;
    padding-left: 0.5rem;
  }
}
