.t-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $height--topBar;
  }

  &__sideBar {
    top: 0;
    left: 0;
    position: absolute;
    padding-top: $height--topBar;
    width: $width--sideBar;
    height: 100%;
    box-sizing: border-box;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: $width--sideBar;
    padding-top: $height--topBar;
  }
}
