.m-formField {
  position: relative;
  padding-top: 1rem;
  color: $color--grey;

  &__label {
    transition: top 0.10s ease-out;
    text-align: left;
    font-size: 0.9rem;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__input {
    position: relative;
    z-index: 1;
  }

  &__required {
    display: inline-block;
    color: $color--warning;
    padding-left: 0.1rem;
    font-size: 1.3rem;
    &:after {
      content: '';
      width: 1rem;
      height: 1rem;
      background-color: $color--warning;
    }
  }

  &__error {
    font-size: 0.9rem;
    color: $color--error;
    padding-top: 0.25rem;
  }

  &--error {
    color: $color--error;
  }

  /* stylelint-disable */

  [class*="--hasFocus"],
  :not([class*="--isEmpty"]) {
    & + .m-formField__label {
      top: -1.2rem;
    }
  }
  /* stylelint-enable */
}
