.m-formField {
  position: relative;
  &__label {
    position: absolute;
    bottom: 0.5rem;
    text-align: left;
    font-size: 0.9rem;
    color: $color--grey;
  }
  &__input {
    position: relative;
  }
}
