.m-iconButton {
  position: relative;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  color: $color--grey;

  &:hover {
    color: $color--main;
  }
  &__iconContainer {
    display: inline-block;
    border-radius: 50%;
    padding: 0.5rem;
  }
  &__icon {
    font-size: 2rem;
  }
  &__caption {
    vertical-align: middle;
    text-align: center;
  }

  &--active {
    color: $color--main;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 4px;
      right: -2px;
      background-color: $color--main;
      top: 0;
      border-radius: 100px;
    }

    .m-iconButton__iconContainer {
      background-color: $color--main;
    }

    .m-iconButton__icon {
      color: $color--white;
    }

    .m-iconButton__caption {
      padding-top: 0.5rem;
    }
  }
}
