.m-iconLink {
  cursor: pointer;
  &:hover {
    color: $color--main;
  }
  &__icon {
    display: block;
    text-align: center;
    font-size: 2rem;
  }
  &__name {
    vertical-align: middle;
    text-align: center;
  }
}
