.m-kpi {
  height: $height--chartAndKpi;
  position: relative;

  &__container {
    @include centered();
  }

  &__value {
    font-size: 5rem;
    line-height: 5rem;
    display: inline;
  }

  &__valueContainer {
    color: $color--main;
    position: relative;
  }

  &--perc {
    .m-kpi__valueContainer {
      &:after {
        content: '%';
        font-size: 2rem;
        position: absolute;
        top: 0.8rem;
        padding-left: 0.2rem;
      }
    }
  }
}
