.m-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gradient--base;
    opacity: 0.90;
  }
  &--hidden {
    display: none;
  }
  &__content {
    @include centered();
    background-color: $color--white;
    border-radius: $borderRadius--modals;
    position: absolute;
    width: calc(100% - 5rem);
    height: calc(100% - 5rem);
    box-sizing: border-box;
  }
  &__topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    z-index: 1;
    height: 4rem;
  }
  &__children {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5.5rem);
    padding: 0 2rem 2rem;
    box-sizing: border-box;
  }
  &__loader {
    @include centered();
  }
  &--medium {
    .m-overlay__content {
      max-width: $width--overlayMedium;
      max-height: $height--overlayMedium;
    }
  }
  &--small {
    .m-overlay__content {
      max-width: $width--overlaySmall;
      max-height: $height--overlaySmall;
    }
  }
}
