.m-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color--white, 0.95);
  &--hidden {
    display: none;
  }
  &__content {
    @include centered();
    background-color: $color--grey;
    border-radius: $borderRadius--base;
    position: absolute;
    width: 90%;
    height: 90%;
  }
  &__loader {
    @include centered();
  }
}
