.a-icon {
  display: inline;
  position: relative;

  &__icon {
    vertical-align: middle;
    font-size: inherit;
  }

  &__bullet {
    position: absolute;
    border-radius: 50%;
    background-color: $color--main;
    color: $color--white;
    text-align: center;
    font-size: 0.6rem;
    line-height: 210%;
    width: 1.2rem;
    height: 1.2rem;
    top: -0.3rem;
    right: -0.3rem;
  }

  &__clickable {
    cursor: pointer;
    &:hover {
      color: $color--main;
    }
  }
}
