.a-icon {
  display: inline;
  position: relative;
  transition: $transition--color, $transition--opacity;

  &__icon {
    vertical-align: middle;
    font-size: inherit;
  }

  &__bullet {
    position: absolute;
    border-radius: 50%;
    background-color: $color--bullet;
    color: $color--white;
    text-align: center;
    font-size: 0.6rem;
    line-height: 210%;
    width: 1.2rem;
    height: 1.2rem;
    top: 10%;
    left: 50%;
  }

  &--clickable {
    cursor: pointer;
    &:hover {
      color: $color--main;
    }
  }

  &--dirty {
    color: $color--dirty;
  }

  &--valid {
    color: $color--valid;
  }

  &--invalid {
    opacity: 0.5;
    cursor: default;
    color: inherit !important;
  }
}
