.a-button {
  &__control {
    background-color: $color--main;
    border: none;
    color: $color--white;
    border-radius: $borderRadius--buttons;
    padding: 1rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transition--opacity;

    &--disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}
