.a-input {
  border-bottom: 1px solid $color--main;

  &__control {
    &::placeholder {
      color: $color--grey;
    }

    border: none;
    color: $color--darkGrey;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;

    &--center {
      text-align: center;
    }

    &:focus {
      outline: none;
      color: $color--main;
    }
  }
}
