html {
  width: 100%;
  height: 100%;
  font-size: $fontSize--base;
  font-family: $fontFamily--base;
  line-height: $lineHeight--base;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  background-color: transparent;
}
