/**
 * Font Size
 */

$fontSize--base: 13px;

/**
 * Font Families
 */

$fontFamily--base: 'Lato', serif;

/**
 * Line Height
 */

$lineHeight--base: 1.2rem;

/**
 * Responsive Breakpoints (Mobile First)
 */

$mq--mobileLandscape: '@media only screen and (min-width : 480px)';
$mq--tabletPortrait: '@media only screen and (min-width : 768px)';
$mq--tabletLandscape: '@media only screen and (min-width : 1024px)';
$mq--laptop: '@media only screen  and (min-width : 1224px) ';
$mq--desktop: '@media only screen  and (min-width : 1824px)';

/**
 * Border Radius
 */

$borderRadius--modals: 3px;
$borderRadius--buttons: 20px;
$borderRadius--tableHeaders: 3px;

/**
* Transitions
*/

$transition--opacity: opacity .15s ease-in-out;
$transition--color: color .15s ease-in-out;
$transition--overlayBackground: opacity .25s linear;

/**
* Navigation
*/

$width--sideBar: 10rem;
$height--topBar: 5rem;

/** 
* BoxShadow
*/

$boxShadow--bottom: 0 1px 5px rgba($color--black, .05);
$boxShadow--right: 1px 1px 5px rgba($color--black, .05);

/**
 * Gradient
 */

$gradient--base: linear-gradient(
  to right,
  $color--gradient1 0%,
  $color--gradient2 100%
);

/**
 * Overlay
 */

$width--overlayMedium: 60rem;
$height--overlayMedium: 60rem;
$width--overlaySmall: 40rem;
$height--overlaySmall: 20rem;

/**
 * Widgets
 */

$height--chartAndKpi: 20rem;
