/**
 * Font Size
 */

$fontSize--base: 13px;

/**
 * Font Families
 */

$fontFamily--base: 'Lato', serif;

/**
 * Line Height
 */

$lineHeight--base: 1.2rem;

/**
 * Colors
 */

$color--main: #ff5232;
$color--black: #222;
$color--white: #fff;
$color--error: red;
$color--warning: orange;
$color--grey: #ccc;
$color--darkGrey: #666;

/**
 * Responsive Breakpoints (Mobile First)
 */

$mq--mobileLandscape: '@media only screen and (min-width : 480px)';
$mq--tabletPortrait: '@media only screen and (min-width : 768px)';
$mq--tabletLandscape: '@media only screen and (min-width : 1024px)';
$mq--laptop: '@media only screen  and (min-width : 1224px) ';
$mq--desktop: '@media only screen  and (min-width : 1824px)';

/**
 * Border Radius
 */

$borderRadius--base: 20px;

/**
* Transitions
*/

$transition--opacity: opacity .15s ease-in-out;

/**
* Navigation
*/

$width--sideBar: 16rem;
$height--topBar: 5rem;
