.o-signInForm {
  width: 100%;
  &__input {
    padding: 0.5rem 0;
  }
  &__button {
    padding-top: 1rem;
  }
  &__forgotMessage {
    text-align: right;
    color: $color--main;
    font-size: 0.9rem;
  }
}
